/EPlayerServer/.vs
/EPlayerServer/EPlayerServer/EPlayerServer.vcxproj.user
/EPlayerServer/readme/images/debuggerexport.png
/EPlayerServer/readme/images/firstconnection.png
/EPlayerServer/readme/images/linker.png
/EPlayerServer/readme/images/postbuild.png
/EPlayerServer/readme/images/ArchOptions.gif
/EPlayerServer/readme/images/ChangeRemote.gif
/EPlayerServer/readme/images/ManageConnections.gif
/EPlayerServer/readme/images/OutputTypes.gif
/EPlayerServer/readme/readme.html
/EPlayerServer/readme/stylesheet.css
/EPlayerServer/EPlayerServer/bin/x64/Debug/EPlayerServer.out
/EPlayerServer/EPlayerServer/obj/x64/Debug/-1639538273.CompileUpToDateFile.tlog
/EPlayerServer/EPlayerServer/obj/x64/Debug/-1639538273.CopySourcesUpToDateFile.tlog
/EPlayerServer/EPlayerServer/obj/x64/Debug/-1639538273.LinkUpToDateFile.tlog
/EPlayerServer/EPlayerServer/obj/x64/Debug/-1639538273.Local_Remote_PathMapping.tlog
/EPlayerServer/EPlayerServer/obj/x64/Debug/-1639538273.RemoteProjectDirFile.tlog
/EPlayerServer/EPlayerServer/obj/x64/Debug/-1809892391.CompileUpToDateFile.tlog
/EPlayerServer/EPlayerServer/obj/x64/Debug/-1809892391.CopySourcesUpToDateFile.tlog
/EPlayerServer/EPlayerServer/obj/x64/Debug/-1809892391.LinkUpToDateFile.tlog
/EPlayerServer/EPlayerServer/obj/x64/Debug/-1809892391.Local_Remote_PathMapping.tlog
/EPlayerServer/EPlayerServer/obj/x64/Debug/-1809892391.RemoteProjectDirFile.tlog
/EPlayerServer/EPlayerServer/obj/x64/Debug/EPlayerServer.log
/EPlayerServer/EPlayerServer/obj/x64/Debug/EPlayerServer.tlog/EPlayerServer.lastbuildstate
/EPlayerServer/EPlayerServer/obj/x64/Debug/EPlayerServer.tlog/compile.read.1.tlog
/EPlayerServer/EPlayerServer/obj/x64/Debug/EPlayerServer.tlog/compile.write.1.tlog
/EPlayerServer/EPlayerServer/obj/x64/Debug/EPlayerServer.tlog/link.write.1.tlog
/EPlayerServer/EPlayerServer/obj/x64/Debug/LastRemoteTarget.tlog
/EPlayerServer/EPlayerServer/obj/x64/Debug/iconfig.json
